<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.opriday.islamicquiz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user.ViewUserProfileActivity"></activity>
        <activity android:name=".common.ViewCategoryActivity" />
        <activity android:name=".admin.AddCategoryActivity" />
        <activity android:name=".user.HomeActivity">

        </activity>
        <activity android:name=".user.RegistrationActivity" />
        <activity android:name=".common.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".user.UserProfileActivity" />
        <activity android:name=".admin.AdminProfileActivity" />
        <activity android:name=".common.ViewQuizActivity" />
        <activity android:name=".admin.AddQuizActivity" />
        <activity android:name=".admin.MainActivity"></activity>
    </application>

</manifest>